# This workflow will build and push a new container image to the corresponding Github Container Registry.

# Note the permissions around the private "Github Package Docker Registry" is not granular enough to allow read-only access
# to pull the image. Instead going to use Deployment Keys on the repo itself to provide read-only access to interested parties.
# However, there is no way for a entity authorized via a deploy key to pull private images. Leaving this job functional however
# so CI/CD job to publish the versioned images is ready.

on:
  push:
    branches: 
      - production
    tags:
      - v**
  release:
    types: [created]

name: Deploy to Private Github Docker Registry

jobs:
  # ref: https://github.com/marketplace/actions/build-and-publish-docker-image-to-github-packages-registry
  build-and-publish-latest:
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/master' # Running this job only for master branch
    if: startsWith(github.ref, 'refs/tags/') # Running this job only for tags

    steps:
    - uses: actions/checkout@v2 # Checking out the repo

    - name: Build and Publish latest Docker image
      uses: VaultVulp/gp-docker-action@1.1.7
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} # Provide GITHUB_TOKEN to login into the GitHub Packages
        image-name: verifier-app # Provide only Docker image name, tag will be automatically set to latest
        extract-git-tag: true # Provide flag to extract Docker image tag from git reference
        dockerfile: Dockerfile
